@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

td {
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 10px;
}
